{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> 
        	Lux coding acadermy is a free online training which have crash and advance coding classes its simple and free to learn with us. Our courses are are designed and organized by the an experinced programming team.

You can also hire our team of software developers or download our free available softwares which you can modify and use as your own.

Join Lux coding acadermy, Join World class Software Engineering Team

        </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Know more!</a>

           <p class="card-text"> 
        	Lux coding acadermy is a free online training which have crash and advance computer programming and databases courses. Its free to learn with us . Our courses are are designed and organized by the an experinced programming team.

            You can also hire our team of software developers or download our free available softwares which you can modify and use as your own.

        </p>
    </div>
</div>
</div>

{% endblock sidebar %}



